$brown: #6B060B;
$pink: #FC4C79;
$dark-pink: #E3224F;
$light-pink: #ffe6e6;
$black: #3C0A40;

$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$bodoni: "Bodoni MT", Bodoni, Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

$background: $light-pink;
$accent1: $dark-pink;
$accent2: $pink;
$text: $black;

$title: $bodoni;
$main: $helvetica;

// main
body {
	background-image: url(bg.jpg);
	font-family: $main;
	font-size: 11px;
	letter-spacing: 1.2px;
	color: $text;
}

.container {
	margin: 20px;
	padding: 20px;
	padding-bottom: 0;
	height: 90vh;
	background-color: rgba($background, 0.9);
	overflow: scroll;
}

.content {
	margin-bottom: -25px;
	min-height: 100%;

	&:after {
		content: "";
		display: block;
		height: 35px;
	}
}

h1 {
	font-size: 30px;
	font-family: $title;
	margin-bottom: 10px;
}

h2 {
	font-size: 25px;
	font-family: $title;
	margin-bottom: 10px;
	border-bottom: 1px $accent1 solid;
	font-style: italic;
}

h3 {
	font-size: 15px;
	font-family: $title;
	margin-bottom: 10px;
	font-style: italic;

	&:before {
		position: relative;
		padding-right: 5px;
		top: -4px;
		content: '\25B6';
		color: $accent1;
		font-size: 7px;
	}
}

a {
	font-style: italic;
	text-decoration: none;
	color: $accent1;
	transition: color 0.5s;
	-o-transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;

	&:hover {
		color: $accent2;

	}
}

p {
	line-height: 140%;
	margin-bottom: 10px;
}

strong {
	color: $accent1;
	font-weight: bold;
}

em {
	color: $accent1;
	font-style: italic;
}

blockquote {
	@extend p;
	padding-left: 10px;
	border-left: 3px $accent1 solid;
}

ul {
	margin-bottom: 10px;
}

ul li {
	line-height: 120%;
}

ul li:before {
	content: '\2605';
	font-size: 80%;
	color: $accent2;
	margin-right: 5px;
}

// index

.title {
	text-align: center;
	font-size: 130%;
	height: 94vh;

	h1 {
		font-size: 50px;
		margin-bottom: 30px;
	}
}

// nav

.nav {
	height: 25px;
	padding: 5px 0;
	text-align: center;
}

// home

.stats {
	position: relative;
	left: 60px;
	width: 50vw;
	padding: 7px;
	background-color: $accent1;
	color: $background;

	a {
		color: $background;
	}

	a:hover {
		color: #fff;
	}
}

// join

input {
	margin-bottom: 7px;
}

// list

.list li {
	@extend p;
	list-style-type: none;
	padding-left: 10px;
	border-left: 3px $accent1 solid;

	&:before {
		content: none;
		margin: 0;
	}
}